html, body {
	background: #202020; width: 100%; height: 100%; margin: 0; padding: 0;
	font-family: 'Dosis', Arial, sans-serif;
	font-weight:300;
}
#message {
	color: white;
	position: absolute;
	top:10px;
	left: 0;
	right: 0;
	font-size: 30px;
	text-align: center;
}
.score-bar {
	position: absolute;
	width: 100%;
	height: 10px;
	background: #808080;
}
.score-bar div {
	position: absolute;
	height: 10px;
}
.score-bar.inline {
	position: static;
	height: 5px;
	background: #808080;
}
.score-bar.inline div {
	position: static;
	height: 5px;
	float: left;
}
.vertical-center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
}
.vertical-center > div{
	/*position: relative;
	top: -50%;
	left: -50%;*/
	display: table-cell;
	vertical-align: middle;
}
.vertical-center > div > div{
	/*position: relative;
	top: -50%;
	left: -50%;*/
	margin: auto;
}

h1{
	background: #404040;
	color: white;
	margin: 0;
	padding: 5px;
	line-height: 40px;
	font-size: 36px;
}
h2 {
	color: #ff8000;
	line-height: 30px;
	font-size: 24px;
	padding: 5px;
	margin: 0;
}
p {
	margin: 0;
	padding: 5px;
	font-family: Ubuntu;
	line-height: 20px;
}
small {
	padding: 5px;
	font-family: Ubuntu;
	color: #808080;
	width: 100%;
	text-align: center;
	display: block;
}
a {
	color: #ff8000;
	border-bottom: 1px dotted #ff8000;
	text-decoration: none;
}
.box {
	border-top: 5px solid #ff8000;
	border-bottom: 5px solid #ff8000;
	/*box-shadow: 0 0 25px #404040;*/
	overflow: hidden;
	background: rgba(64, 64, 64, 0.5);
	color: white;
}
#login .box{
	width: 400px;
}
.one-box-form input{
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	display: block;
	padding: 0px;
	height: 50px;
	line-height: 50px;
	font: inherit;
	font-size: 40px;
	border: none;
	text-align: center;
	outline: none;
	background-color: transparent;
	color: #ff8000;
}
.one-box-form button {
	display: none;
}
#games .box {
	width: 400px;
}

#about .box{
	width: 80%;
}
#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#scores {
	font-size: 30px;
	line-height: 35px;
	padding: 0;
	margin: 0;
	width: 100%;
	display: table;
}
#scores li {
	display: table-row;
	color: white;
}
#scores li span {
	display: table-cell;
	width: 50%;
}
#scores li span.name {
	font-weight: 700;
	text-align: right;
	padding-right: 0.5em;
}

#chat input{
	font: inherit;
	height: 20px;
	color: white;
	padding: 0px;
	margin: 0;
	border: 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background: transparent;
	outline: none;
}

#chat .history {
	color: white;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 20px;
}
#chat .history li {
	color: white;
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	width: 100%;
}
#wrapper {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
}
canvas {
	width: 100%;
	height: 100%;
	display: block;
}

ul.games {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.games li {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
ul.games a {
	color: inherit;
}
ul.games li .name {
	float: left;
	padding: 5px;
}
ul.games li .count {
	float: right;
	padding: 5px;
}
ul.games li .score-bar {
	clear: both;
}